Flask==3.0.3
Flask-Cors==4.0.1
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
ggle-cloud-aiplatform==1.57.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.6.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1oogle-auth-oauthlib==1.2.0
requests-oauthlib==2.0.0
Werkzeug==3.0.3
gunicorn==22.0.0
